.reg_form__h2{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.reg_form__h1{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}