a { text-decoration: none; }



body{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: Montserrat;
}

.main_part{
    background-color: darkgray;
    width:100%;
    min-height:600px;
    padding:30px 0;
}

.left{
    float: left;
}


@import 'nav_elem.css';