doctype html
html
    head
        meta(charset = 'utf-8')
        style
            include ../css/main.css
            include ../css/checkbox_buttons.css
    body                     
        div(class='theblock')
            div(class='bold_label') checkbox buttons
            div(class='m-top')
                label(class='flex')
                    input(class="checkbox-square" type="checkbox" id='cs1')
                    label(for='cs1') Можно курить
                    
                label(class='flex')
                    input(class="checkbox-square" type="checkbox" id='cs2')
                    label(for='cs2') Можно с питомцами
                    
                label(class='flex')
                    input(class="checkbox-square" type="checkbox" id='cs3')
                    label(for='cs3') Можно пригласить гостей (до 10 человек)

        include sex_check.pug            
        include toggle.pug        
        include like.pug
        include rate_stars.pug
        
        