//img(src="<%= require(data.image) %>")
mixin room_preview( data )
    .room_mini
        .room_img_preview
            a(href='page4.html' class='room_storage')
                img(src= data.image) 
            .room_slider
                .fa.fa-circle
                .fa.fa-circle-o
                .fa.fa-circle-o
                .fa.fa-circle-o
            
        .room_parameters
            .room_number_params
                .room_number= data.number
                .room_lux= data.lux
            .room_price
                .r_price= data.price
                .r_label в сутки
        .bord
        .room_feedback
            .room_rate
                include ../components/rate_stars.pug
            .room_comments
                .r_comm= data.comment
                .r_label Отзывов