mixin room_advantage( detail )
    .room_info_mix
        .room_info_icon
            img(src= detail.adv_svg)
        .room_detail_text
            .room_detail_labeltext= detail.labeltext
            .room_detail_maintext= detail.maintext