style
    include ../../css/bullet.css
    
div
    div
        .bullet-check_block
            input(class="bullet-check" type="radio" checked)
            span(class="bullet-check__checkbox-custom")
            span(class="bullet-check__label") Нельзя с питомцами
    div
        .bullet-check_block
            input(class="bullet-check" type="radio" checked)
            span(class="bullet-check__checkbox-custom")
            span(class="bullet-check__label") Без вечеринок и мероприятий
    div
        .bullet-check_block
            input(class="bullet-check" type="radio" checked)
            span(class="bullet-check__checkbox-custom")
            span(class="bullet-check__label") Время прибытия — после 13:00, а выезд до 12:00