div
    div(class='bold_label') доступность
    div(class='m-top')
        label(class='flex')
            input(class="checkbox-square rich_label" type="checkbox" id='r1')
            label(for='r1') Широкий коридор
        div(class='gray_label') Ширина коридоров в номере не менее 91 см
                    
        label(class='flex')
            input(class="checkbox-square rich_label" type="checkbox" id='r2')
            label(for='r2') Помощник для инвалидов
        div(class='gray_label') На 1 этаже вас встретит специалист и проводит до номера