style
    include ../../css/checkbox_buttons.css
div
    div(class='bold_label') checkbox buttons
    div(class='m-top')
        label(class='flex cbox')
            input(class="checkbox-square" type="checkbox" id='cs1')
            label(for='cs1') Можно курить
                    
        label(class='flex cbox')
            input(class="checkbox-square" type="checkbox" id='cs2')
            label(for='cs2') Можно с питомцами
                    
        label(class='flex cbox')
            input(class="checkbox-square" type="checkbox" id='cs3')
            label(for='cs3') Можно пригласить гостей (до 10 человек)