style 
    include ../../css/inputs.css
    include ../../css/dropdown_list.css

div
    div(class='bold_label') удобства номера
    div(class='drop_for_script')
        input(class='input panel_input drop_button drop_for_script' placeholder='Спальни, Кровати, Ванные комнаты')
        span(class='abs fa fa-chevron-down drop_for_script')
            
    div(class='dropdown d_small' hidden)
        div(class='dropdown_part')
            span(class='bold_label') СПАЛЬНИ
            div(class='dropdown_part_right')
                div(class='circle minus')
                    span(class='minus_count') -
                span(class='bold_label c') 0
                div(class='circle plus')
                    span(class='plus_count') +
                            
        div(class='dropdown_part')
            span(class='bold_label') КРОВАТИ
            div(class='dropdown_part_right')
                div(class='circle minus')
                    span(class='minus_count') -
                span(class='bold_label c') 0
                div(class='circle plus')
                    span(class='plus_count') +
                            
        div(class='dropdown_part')
            span(class='bold_label') ВАННЫЕ КОМНАТЫ
            div(class='dropdown_part_right')
                div(class='circle minus')
                    span(class='minus_count') -
                span(class='bold_label c') 0
                div(class='circle plus')
                    span(class='plus_count') +
                
        div(class='dropdown__buttons dropdown_part')
            div
                span(class='bold_label__gray' hidden) очистить
            span(class='bold_label__gray' hidden) применить