style
    include ../../css/main.css
    include ../../css/page3.css
div
    div(class='panel_element')
        include /calendar_small.pug
    
    div(class='panel_element')
        include /dropdown_guests_small.pug
    
    div(class='panel_element')
        include /range_slider.pug
        
    div(class='panel_element')
        include /checkbox_button.pug