style
    include ../../css/forms.css
    include ../../css/inputs.css
    include ../../css/buttons.css
div(class='form_main form_find_number')
    p(class='form_h') Найдём номера под ваши пожелания
    
    include /calendar.pug
    
    div(class='many_inputs')
        div(class='bold_label') гости
        input(class='input big' placeholder='Сколько гостей')
        
    div(class='main_button btn_active')
        span подобрать номер
        div(class='btn_arrow')
            include ../../img/arrow_forward.svg
    