style
    include ../../css/forms.css
    include ../../css/inputs.css
    include ../../css/buttons.css
div(class='form_main form_reg')
    p(class='form_h') Регистрация аккаунта
    
    input(class='input big' placeholder='Имя')
    
    input(class='input big' placeholder='Фамилия')
    
    include radio.pug
    
    div
        div(class='bold_label') дата рождения
        input(class='input big' placeholder='ДД.ММ.ГГГГ')
        
    div(class='many_inputs')
        div(class='bold_label') данные для входа в сервис
        input(class='input big' placeholder='Email')
        input(class='input big' placeholder='Пароль' type='password')
        
    include toggle.pug
    
    a(href='/page2.html')
        div(class='main_button btn_active')
            span перейти к оплате
            div(class='btn_arrow')
                include ../../img/arrow_forward.svg
        
    div(class='enter_block')
        p(class='btn_label') Уже есть аккаунт на Toxin
        div(class='main_button btn_enter')
            span ВОЙТИ
        