doctype html
html
    head
        meta(charset = 'utf-8')
        style 
            include ../../css/header.css
    body
        header
            include logo.pug
            include header_menu.pug
            include header_buttons.pug