doctype html
html
    head
        meta(charset = 'utf-8')
        style
            include ../../css/buttons.css
    
    body
        div(class='header_buttons')
            div(id='header_buttons')
                div(class='main_button btn_enter')
                    span ВОЙТИ
                div(class='main_button btn_reg')
                    span ЗАРЕГИСТРИРОВАТЬСЯ
            div(id='header_username')