style 
    include ../../css/likebutton.css 
    include ../../css/font-awesome.min.css
body  
    div
        div(class='flex')
            div(class="button-like likeit")
                span(class='fa fa-heart-o')
                span(class='likes_num') 11