doctype html
html
    head
        meta(charset = 'utf-8')
        style 
            include ../../css/logo.css
    body
        a(class='thelogo' href='#')
            div(class='thelogo__img')
                img(src=('./assets/img/logo.png'))
            div(class='thelogo__text')
                include ../../img/TOXIN.svg