style
    include ../../css/radio.css
div(class='theblock')
    div(class='sex_radio')
        label
            input(class="checkbox-circle" type="radio" name="sex" checked)
            span(class="checkbox-circle__checkbox-custom")
            span(class="checkbox-circle__label") Мужчина
        label
            input(class="checkbox-circle" type="radio" name="sex")
            span(class="checkbox-circle__checkbox-custom")
            span(class="checkbox-circle__label") Женщина