style
    include ../../css/main.css
    include ../../css/range_slider.css
    
div
    div(class='range_label')
        div(class='bold_label') Диапазон цены
        div(class='range_price') 5000P - 10000P
    div(class='range_strip')
    div
        div(class='range_metrik_circle range_start')
        div(class='range_metrik_line')
        div(class='range_metrik_circle range_end')
    div(class='range_notice') Стоимость за сутки пребывания в номере