style 
    include ../../css/ratebutton.css
body                     
    div
        div(class='flex stars')
            span(class='fa fa-star')
            span(class='fa fa-star')
            span(class='fa fa-star')
            span(class='fa fa-star')
            span(class='fa fa-star')
            span(class='fa fa-star' style='display:none')