style 
    include ../../css/room_detail.css
    include ../../css/room_advantage.css
body
    include ../mixin/room_advantage_mix.pug
    include ../mixin/room_comment_mix.pug
    
    div(class='room_advantage')
        div(class='room_info')
            p(class='room_detail_h_text') Сведения о номере
            div(class='room_mixes')  
                div(class='room_advantage_mix')
                    +room_advantage( { labeltext: 'Комфорт', maintext: 'Шумопоглощающие стены', adv_svg:'assets/img/insert_emoticon.svg' })
                
                div(class='room_advantage_mix')
                    +room_advantage( { labeltext: 'Удобство', maintext: 'Окно в каждой из спален', adv_svg:'assets/img/location_city.svg' })  
                
                div(class='room_advantage_mix')
                    +room_advantage( { labeltext: 'Уют', maintext: 'Номер оснащён камином', adv_svg:'assets/img/whatshot.svg' })
                

        include /room_diagramm.pug