style 
    include ../../css/room_detail.css
    include ../../css/room_rules.css
body
    .room_rules
        div
            .room_detail_h_text.room_detail_h_text_rules Правила
            .room_rules_h
                include /bullet_list.pug
        
        .room_detail_h_text.room_rules_h Отмена
            .room_rules_h
                .room_detail_maintext Бесплатная отмена в течение 48 ч. После этого, при отмене не позднее чем за 5 дн. до прибытия, вы получите полный возврат за вычетом сбора за услуги.
            