style 
    include ../../css/room_detail.css
    include ../../css/room_advantage.css
    include ../../css/room_impression.css
body
    include ../mixin/room_advantage_mix.pug
    
    div(class='room_advantage')
        div(class='room_info')
            p(class='room_detail_h_text') Сведения о номере
                
            div(class='room_advantage_mix')
                +room_advantage( { labeltext: 'Комфорт', maintext: 'Шумопоглощающие стены', adv_svg:'assets/img/insert_emoticon.svg' })
                
            div(class='room_advantage_mix')
                +room_advantage( { labeltext: 'Удобство', maintext: 'Окно в каждой из спален', adv_svg:'assets/img/location_city.svg' })  
                
            div(class='room_advantage_mix')
                +room_advantage( { labeltext: 'Уют', maintext: 'Номер оснащён камином', adv_svg:'assets/img/whatshot.svg' })

            div(class='room_advantage_mix')
                +room_advantage( { labeltext: 'тест', maintext: 'тест', adv_svg:'../../img/insert_emoticon.svg' })
                

        div(class='room_impression')
            p(class='room_detail_h_text') Впечатления от номера
            
            div(class='room_diagramm')
                div(class='room_diagramm_circle')
                    p(class='room_diagramm_text diag_num') 260
                    p(class='room_diagramm_text') голосов
                    
                div(class='room_diagramm_list')
                    div(class='room_diagramm_ul')
                        div(class='room_diagramm_ul_color grad_yellow')
                        div(class='room_detail_maintext') Великолепно
                        
                    div(class='room_diagramm_ul')
                        div(class='room_diagramm_ul_color grad_green')
                        div(class='room_detail_maintext') Хорошо
                        
                    div(class='room_diagramm_ul')
                        div(class='room_diagramm_ul_color grad_purple')
                        div(class='room_detail_maintext') Удовлетворительно
                        
                    div(class='room_diagramm_ul')
                        div(class='room_diagramm_ul_color grad_black')
                        div(class='room_detail_maintext') Разочарован