style
    include ../../css/room.css
    include ../../css/ratebutton.css
body
    include ../mixin/room_mix.pug
    
    div(class='numbers_collage')
        div(class='collage_row')

            +room_preview( {number: '№ 888', lux: 'люкс', price: '5200Р', comment: '70', stars: '4', image: 'assets/img/rooms/room1.jpg'} )
                        
            +room_preview( {number: '№ 840', lux: '', price: '7900Р', comment: '4', image: 'assets/img/rooms/room2.jpg'} )
                                
            +room_preview( {number: '№ 980', lux: 'люкс', price: '4900Р', comment: '32', image: 'assets/img/rooms/room3.jpg'} )
                        
        div(class='collage_row')
                        
            +room_preview( {number: '№ 856', lux: '', price: '2200Р', comment: '11', image: 'assets/img/rooms/room4.jpg'} )
                        
            +room_preview( {number: '№ 740', lux: '', price: '7800Р', comment: '6', image: 'assets/img/rooms/room5.jpg'} )
                        
            +room_preview( {number: '№ 982', lux: '', price: '3000Р', comment: '31', image: 'assets/img/rooms/room6.jpg'} )
                        
        div(class='collage_row')
            +room_preview( {number: '№ 678', lux: '', price: '5100Р', comment: '90', image: 'assets/img/rooms/room7.jpg'} )
                        
            +room_preview( {number: '№ 350', lux: '', price: '9500Р', comment: '43', image: 'assets/img/rooms/room8.jpg'} )
                        
            +room_preview( {number: '№ 450', lux: '', price: '3900Р', comment: '3', image: 'assets/img/rooms/room9.jpg'} )
                        
        div(class='collage_row')
            +room_preview( {number: '№ 666', lux: '', price: '3600Р', comment: '8', image: 'assets/img/rooms/room10.jpg'} )
                        
            +room_preview( {number: '№ 444', lux: '', price: '6900Р', comment: '99', image: 'assets/img/rooms/room11.jpg'} )
                        
            +room_preview( {number: '№ 352', lux: '', price: '4700Р', comment: '12', image: 'assets/img/rooms/room12.jpg'} )