style
    include ../../css/toggle.css
    include ../../css/checkbox_buttons.css
    
div(class='flex-toggle')
    div(class="button-spec r" id="button-spec")
        input(type="checkbox" class="toggle")
        div(class="knobs")
        div(class="layer")
    span(class='toggle__label') Получать спецпредложения