doctype html
html
    head
        meta(charset = 'utf-8')
        title Hotel Grand Budapest
        style 
            include ../css/font-awesome.min.css
    
    body
        include header.pug
        div(class='left')
            include samples_checkboxes.pug
        div(class='left')
            include samples_part3.pug
        div(class='left')
            include calendar.pug
            include samples_inputs.pug