doctype html
html
    head
        meta(charset = 'utf-8')
        title webpack with pug
        script(src='../index.js')
        style 
            include ../css/font-awesome.min.css
            include ../css/main.css
    
    body
        include header.pug
        div(class='left')
            include samples_inputs.pug
        div
            include samples_checkboxes.pug