doctype html
html
    head
        meta(charset = 'utf-8')
        style
            include ../css/nav_elem.css
            //include ../css/themify-icons.css
    
    body
        nav(class='header_nav')
            a(href='#')
                li(class='nav__elem')
                    span Home
            a(href='#')
                li(class='nav__elem')
                    span О нас
            a(href='#')
                li(class='nav__elem')
                    span Услуги
                    span(class='ti-angle-down')
            a(href='#')
                li(class='nav__elem')
                    span Вакансии
            a(href='#')
                li(class='nav__elem')
                    span Новости
            a(href='#')
                li(class='nav__elem')
                    span Соглашения