doctype html
html
    head
        meta(charset = 'utf-8')
        title Hotel Grand Budapest
        style
            include ../css/font-awesome.min.css
            include ../css/main.css
    body
        p Hello!
        include /gear/qwerty.pug