doctype html
html
    head
        meta(charset = 'utf-8')
        title webpack with pug
        style 
            include ../css/inputs.css
            include ../css/dropdown_list.css
            include ../css/font-awesome.min.css
    
    body
        include header.pug
        div(class='theblock')
            input(class='reg_form__input big' placeholder='Email')
            
        div(class='theblock')
            input(class='reg_form__input small' placeholder='ДД.ММ.ГГГГ')
            span(class='abs fa fa-chevron-down left')
            
            input(class='reg_form__input small' placeholder='ДД.ММ.ГГГГ')
            span(class='abs fa fa-chevron-down')
            
        div(class='theblock')
            input(class='reg_form__input big' placeholder='Email')
            span(class='abs fa fa-arrow-right')
            
        div(class='theblock')
            input(class='reg_form__input big' placeholder='Спальни, Кровати, Ванные комнаты')
            span(class='abs fa fa-chevron-down')
            
            div(class='dropdown')
                div(class='dropdown_part')
                    span(class='bold_label') СПАЛЬНИ
                    div(class='dropdown_part_right')
                        div(class='circle')
                            span -
                        span(class='bold_label') 0
                        div(class='circle')
                            span +
                            
                div(class='dropdown_part')
                    span(class='bold_label') КРОВАТИ
                    div(class='dropdown_part_right')
                        div(class='circle')
                            span -
                        span(class='bold_label') 0
                        div(class='circle')
                            span +
                            
                div(class='dropdown_part')
                    span(class='bold_label') ВАННЫЕ КОМНАТЫ
                    div(class='dropdown_part_right')
                        div(class='circle')
                            span -
                        span(class='bold_label') 0
                        div(class='circle')
                            span +