doctype html
html
    head
        meta(charset = 'utf-8')
        title Hotel Grand Budapest
        style
            include ../css/font-awesome.min.css
            include ../css/main.css
    body
        include /components/header.pug
        div(id='page2_back')
            include /components/form_find_number.pug


        include /components/footer.pug