doctype html
html
    head
        meta(charset = 'utf-8')
        title Hotel Grand Budapest
        style
            include ../css/font-awesome.min.css
            include ../css/main.css
            include ../css/page3.css
    body
        include /components/header.pug
        
        div(class='page3')
            div(class='left_panel')
                include /components/filter_numbers.pug
                
            div(class='page3_main_part')
                p(class='page3_h') Номера, которые мы для вас подобрали
                
                include /components/rooms.pug
                    
                div(class='pagination_3')
                    include /components/pagination.pug

        include /components/footer.pug