doctype html
html
    head
        meta(charset = 'utf-8')
        style
            include ../css/main.css
            include ../css/range_slider.css
    
    body
        div(class='theblock')
            div(class='range_label')
                div(class='bold_label') range slider
                div(class='range_price') 5000P - 10000P
            div(class='range_strip')
            div
                div(class='range_metrik_circle range_start')
                div(class='range_metrik_line')
                div(class='range_metrik_circle range_end')