doctype html
html
    head
        meta(charset = 'utf-8')
        title webpack with pug
        style 
            include ../css/inputs.css
            include ../css/font-awesome.min.css
    
    body
        div(class='theblock')
            div(class='bold_label') Text field
            input(class='input big' placeholder='Email')
            
        div(class='theblock')
            div(class='bold_label') masked text field
            input(class='input big' placeholder='ДД.ММ.ГГГГ')
    
        include dropdown_rooms.pug
        include dropdown_guests.pug
        
    
                    