doctype html
html
    head
        meta(charset = 'utf-8')
        title webpack with pug
        style 
            include ../css/font-awesome.min.css
            include ../css/font-awesome.min.css
            include ../css/bullet.css
    
    body
        include expandable_checkbox.pug
        div(class='theblock')
            div(class='bold_label') Rich Checkbox Buttons
            div(class='m-top')
                label(class='flex')
                    input(class="checkbox-square rich_label" type="checkbox" id='r1')
                    label(for='r1') Широкий коридор
                div(class='gray_label') Ширина коридоров в номере не менее 91 см
                    
                label(class='flex')
                    input(class="checkbox-square rich_label" type="checkbox" id='r2')
                    label(for='r2') Помощник для инвалидов
                div(class='gray_label') На 1 этаже вас встретит специалист и проводит до номера
                
        div(class='theblock')
            div(class='bold_label') bullet list
            div
                label
                    input(class="bullet-check" type="radio" checked)
                    span(class="bullet-check__checkbox-custom")
                    span(class="bullet-check__label") Нельзя с питомцами
            div
                label
                    input(class="bullet-check" type="radio" checked)
                    span(class="bullet-check__checkbox-custom")
                    span(class="bullet-check__label") Без вечеринок и мероприятий
            div
                label
                    input(class="bullet-check" type="radio" checked)
                    span(class="bullet-check__checkbox-custom")
                    span(class="bullet-check__label") Время прибытия — после 13:00, а выезд до 12:00
                    
        include range_slider.pug
        include pagination.pug
                    