doctype html
html
    head
        meta(charset = 'utf-8')
        title webpack with pug
        style 
            include ../css/main.css
            include ../css/checkbox_buttons.css
            include ../css/font-awesome.min.css
            include ../css/radio.css
            include ../css/toggle.css
            include ../css/likebutton.css 
            include ../css/ratebutton.css
    body                     
        div(class='theblock')
            label(class='bold_label') checkbox buttons
            div
                label(class='flex')
                    input(class="checkbox-square" type="checkbox" id='cs1')
                    label(for='cs1') Можно курить
                    
                label(class='flex')
                    input(class="checkbox-square" type="checkbox" id='cs2')
                    label(for='cs2') Можно с питомцами
                    
                label(class='flex')
                    input(class="checkbox-square" type="checkbox" id='cs3')
                    label(for='cs3') Можно пригласить гостей (до 10 человек)

        div(class='theblock')
            label(class='bold_label') radio buttons
            div
                label
                    input(class="checkbox-circle" type="radio" name="sex" checked)
                    span(class="checkbox-circle__checkbox-custom")
                    span(class="checkbox-circle__label") Мужчина
                label
                    input(class="checkbox-circle" type="radio" name="sex")
                    span(class="checkbox-circle__checkbox-custom")
                    span(class="checkbox-circle__label") Женщина
                    
        div(class='theblock')
            label(class='bold_label') toggle
            div(class='flex')
                div(class="button-spec r" id="button-spec")
                    input(type="checkbox" class="toggle")
                    div(class="knobs")
                    div(class="layer")
                span(class='toggle__label') Получать спецпредложения
                
        div(class='theblock')
            label(class='bold_label') like button
            div(class='flex')
                div(class="button-like" id='likeit')
                    span(class='fa fa-heart-o')
                    span 11       
                    
        div(class='theblock')
            label(class='bold_label') rate button
            div(class='flex' id='stars')
                span(class='fa fa-star-o')
                span(class='fa fa-star-o')
                span(class='fa fa-star-o')
                span(class='fa fa-star-o')
                span(class='fa fa-star-o')
                span(class='fa fa-star' style='display:none')