style
    include ../../css/font-awesome.min.css
    include ../../css/h.css
    include ../../css/ratebutton.css
div(class='qw') hello there
    span(class='fa fa-star-o')
input(id='rr')
img(src=require('../../img/soc.png'))
div
    include ../../img/TOXIN.svg