.dropdown{
    position: absolute;
    z-index: 99;
    background-color: #fff;
    width: 318px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
    min-height: 50px;
    margin-top: -0.8em;
}

.d_small{
    width: 268px;
    margin-top: 0.02em;
}

.dropdown_part{
    display: flex;
    justify-content: space-between;
    padding-left:15px;
    padding-top:15px;
}

.dropdown__buttons{
    padding-right:15px;
    padding-bottom: 13px;
}

.dropdown_part_right{
    display: flex;
    margin-right: 7px;
}

.circle{
    display: flex;
    width:2em;
    height:2em;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius:100%;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-top: -8px;
   /* padding-top: 5px;*/
    cursor: pointer;
}

.circle:hover{
    background-color: #8BA4F9;
    color:white;
    border-color: white;
}

.drop_button{
    cursor: pointer;
}