.footer{
    padding: 10%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
}

.footer_text{
    font-family: Montserrat;
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    max-width: 15em;
}

.footer_nav{
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
}

.footer_copyright{
    margin: 0 auto;
    padding-left: 10%;
    border-top: 1px solid #E5E5E5;
    font-family: Montserrat;
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 24px;
}