.form_reg{
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.form_h{
    font-size: 24px;
    font-family: Quicksand;
    font-weight: bold;
    color: #1F2041;
}

.input{
    margin-bottom:10px;
}

.sex_radio{
    margin-left: -20px;
}

.many_inputs{
    margin-top: 10px;
}

.btn_active{
    min-width: 276px;
    margin-top: 20px;
}

.enter_block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}