header{
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center; 
    color: rgba(31, 32, 65, 0.5);
    padding:18px 10%;
    font-size: 14px;
    font-family: Montserrat;
}

.header_buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.main_button{
    float:left;
    margin-right:20px;
}

.header_nav__list{
    height:40px;
    margin:0;
}

.nav__elem{
    margin-right: 30px;
}

.ti-angle-down{
    margin-left:5px;
}


#header_username{
    display: none;
    min-width: 200px;
    float: left;
    height:40px;
    margin:0;
    line-height: 40px;
}