.button-like{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 36px;
    height: 14px;
    overflow: hidden;
    border:1px solid rgba(31, 32, 65, 0.25);
    border-radius: 100px;
    cursor: pointer;
    font-size: 10px;
    color: rgba(31, 32, 65, 0.25);
    padding: 3px;
    margin-right: 10px;
}

.fa-heart-o, .fa-heart{
    margin-top: 1px;
}

.button-like:hover, .button-like:hover + span{
    border:1px solid rgba(31, 32, 65, 0.5);
    color:#BC9CFF;
}