@import url(bullet.css);
@import url(buttons.css);
@import url(calendar.css);
@import url(checkbox_buttons.css);
@import url(date_form.css);
@import url(dropdown_list.css);
@import url(enter_form.css);
@import url(expandable_checkbox.css);
/*@import url(font-awesome.min.css);*/
@import url(footer.css);
@import url(h.css);
@import url(header.css);
@import url(inputs.css);
@import url(likebutton.css);
@import url(logo.css);
@import url(nav_elem.css);
@import url(pagination.css);
@import url(radio.css);
@import url(range_slider.css);
@import url(ratebutton.css);
@import url(toggle.css);

@font-face {
    font-family: fontawesome-webfont; /* Имя шрифта */
    src: url(fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
   }


a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Montserrat; }

.main_part {
  background-color: darkgray;
  width: 100%;
  min-height: 600px;
  padding: 30px 0; }

.left {
  float: left; }

.bold_label, .bold_label__gray{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
    /*max-width: 320px;*/
    margin:0px;
}


.bold_label__gray{
    color:rgba(31, 32, 65, 0.25);
    cursor: pointer;
}

.bold_label__gray:hover{
    color:#BC9CFF;
}

.flex{
    display: flex;
}

.m-top{
    margin-top: 17px;
}

.twolabel{
    width:150px;
    margin-right: 16px;
}