@import url(nav_elem.css);
a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Montserrat; }

.main_part {
  background-color: darkgray;
  width: 100%;
  min-height: 600px;
  padding: 30px 0; }

.left {
  float: left; }

.bold_label, .bold_label__gray{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
    /*max-width: 320px;*/
    margin:0px;
}


.bold_label__gray{
    color:rgba(31, 32, 65, 0.25);
    cursor: pointer;
}

.bold_label__gray:hover{
    color:#BC9CFF;
}

.flex{
    display: flex;
}

.m-top{
    margin-top: 17px;
}

.clearfix{
    
}