.page3{
    display: flex;
}

.left_panel{
    margin-left: 140px;
    display: flex;
    flex-direction: column;
}

.numbers_collage{
    height: 100%;

}

.panel_element{
    margin-bottom: 20px;
    max-width: 270px;
}