.checkbox-circle {
	display: none;
}

.checkbox-circle__checkbox-custom {
	position: relative;
	width: 20px;             
	height: 20px;            
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 100%;
}

.checkbox-circle__label{
    margin-right:20px;
    color: rgba(31, 32, 65, 0.75);
}

.checkbox-circle__checkbox-custom,
.checkbox-circle__label {
	display: inline-block;
	vertical-align: middle;
    margin-top: 11px;
}

.checkbox-circle:checked + .checkbox-circle__checkbox-custom::before {
	content: "";             
	display: block;			
	position: absolute;     
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
	border-radius: 100%;
}

/*
        label
            input(class='checkbox' type='radio' name='sex' checked)
            span(class='checkbox-custom')
            span(class='label') Мужчина
            
        label
            input(class='checkbox' type='radio' name='sex')
            span(class='checkbox-custom')
            span(class='label') Женщина
*/