.room_mini{
    width:270px;
    height:257px;
    margin-right: 1em;
    margin-bottom: 20px;
    box-shadow:0px 4px 8px 5px rgba(0,0,0,0.21);
    -webkit-box-shadow:0px 4px 8px 5px rgba(0,0,0,0.21);
    -moz-box-shadow:0px 4px 8px 5px rgba(0,0,0,0.21);
}

.room_parameters{
    margin-top: 20px;
    margin-bottom: 10px;
}

.room_img_preview, .room_feedback{
    width:270px;
    height:150px;
    position: relative;
}

.room_number{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1F2041;
    margin-right: 5px;
}

.room_lux{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    text-transform: uppercase;
}

.r_price, .r_label, .r_comm{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.r_label{
    font-weight: normal;
    margin-left: 5px;
}

.room_feedback{
    max-width: 270px;
    display: flex;
    align-items: baseline;
}

.bord{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 230px;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.room_rate, .r_comm{
    float: left;
    align-items: baseline;
}

.room_parameters, .room_number_params, .room_price, .room_comments{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.room_comments{
    margin-left: 10px;
}

.room_parameters, .room_feedback{
    padding: 0 10%;
}

.room_slider{
    position: absolute;
    display: flex;
    /*color: #fff;*/
    right:0;
    margin-right: 15px;
    margin-top: -25px;
}

.fa-circle, .fa-circle-o{
    margin-right: 3px;
    font-size: 7.5px;
    color:#fff;
}