.room_images{
    display: flex;
    width:100%;
}

.room_img_big{
    width:68%;
    height:auto;
}

.room_img_middle{
    width:32%;
    height:auto;
}

.room_image_middle{
    width:100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.kostyl{
    margin-top: -1.55%;
}

.room_main_part{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 70px 10%;
}

.room_main_part_feedback{
    width:75%;
    margin-right: 70px;
}

.room_detail_maintext{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.75);
    margin:0;
    padding:0;
}

.room_detail_labeltext{
    font-family: Montserrat;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    font-weight: bold;
    line-height: 22px;
    margin:0;
    padding:0;
}

.room_detail_h_text{
    margin:0;
    margin-bottom: 20px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color:#1F2041;
}