.room_rules{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.room_rules>div{
    width:45%;
}

.room_rules_h{
    margin-top: 20px;
}

.bullet-check__label{
    max-width: 60%;
}

.room_detail_h_text_rules{
   margin-left: 20px;
}