.room_impression{
    margin-left:80px;
}

.room_diagramm{
    position: relative;
    display: flex;
    align-items: flex-end;
}

.room_diagramm_circle{
    position: absolute;
    top:20%;
    left:8%;
    width:100px;
    height:100px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room_diagramm_text{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    color: #BC9CFF;
    margin: 0;
    padding: 0;
}

.diag_num{
    font-family: Quicksand;
}

.room_diagramm_ul{
    display: flex;
}

.room_diagramm_list{
    margin-left: 30px;
}

.room_diagramm_ul_color{
    width:10px;
    height:10px;
    border-radius: 100%;
    line-height: 24px;
    margin: 5px;
}

.yellow {
    fill: #fff;
    stroke-width: 4;
}

.purple{
    fill: #fff;
    stroke-dasharray: 64 120;
    stroke-width: 4;
    stroke-dashoffset: -75
}

.green{
    fill: #fff;
    stroke-dasharray: 25 189;
    stroke-width: 4;
}

.grad_yellow{
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

.grad_green{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.grad_purple{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.grad_black{
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}