doctype html
html
    head
    meta(charset = 'utf-8')
    title webpack with pug
    style src="/dist/app.css"
    
    body
        div(class='h1')
            h1 first pug
        include second.pug